.sitedesign{
    height: 100vh;
    width: 100wv;
    display: flex;
    justify-self:start;
    align-self: start;
    background-color: var(--color-bg);
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    position: relative;
    z-index: 1;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.sitedesign2{

    display: flex;
    justify-self:start;
    align-self: start;
    background-color: var(--color-bg);
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    position: relative;
    z-index: 1;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.hcontainer {
    font-size: 16px;
    text-align: center;
    padding: 12px 0;
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    margin-left: 30%;
    margin-bottom: 3%;
    display: table;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font);
    border-color: var(--color-border);
    border-bottom-color: var(--color-border);
    background: var(--color-objekt);
    border-radius: 5%;
    
}

.tablerow{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    
}
.tablecol{
    background-color: var(--color-bg);
    padding: 10% 15%;
    border-radius: 10px;
    color: var(--color-text);
    
}
.tablecol h3{
    font-size: 40px;
    margin: 20px 0 40px;
    font-weight: 500;
}
.tablecol h3 span{
    font-size: 16px;
}
.tablecol ul{
    text-align: left;
    margin: 20px 0;
    color: var(--color-text);
    list-style: none;
}
.tablecol ul li{
    margin: 15px 0;
}
.tablecol button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: var();
    font-size: 15px;
    border: 1px solid var();
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.tablecol button:hover{
    background: var();

}