

<div class="sitedesign2">
    <div class="hcontainer">
    <h1> Suchergebnis: Millenium Falke </h1> 
    </div> 
    </div> 
    <div class="sitedesign">  
    <div class="tablerow">

        <div class="tablecol">
            
            <h3>Shop 1 <span>linktext</span></h3>
            <ul>
                <li>Millenium Falke</li>
                <li>456722</li>
                <li>Setpreis: 150 $</li>
                <li>Einzelteilpreis: 126$</li>
                <li>2000 Einzelteile</li>
            </ul>
            <button>Einzelteile kaufen</button>
            <button>Setpreis kaufen</button>

            </div>
            <div class="tablecol">
            <h3>Shop 2 <span>linktext</span></h3>
            <ul>
                <li>Millenium Falke</li>
                <li>456722</li>
                <li>Setpreis: 167 $</li>
                <li>Einzelteilpreis: 138$</li>
                <li>2000 Einzelteile</li>
            </ul>
            <button>Einzelteile kaufen</button>
            <button>Setpreis kaufen</button>
        </div>
        <div class="tablecol">
            <h3>Shop 3 <span>linktext</span></h3>
            <ul>
                <li>Millenium Falke</li>
                <li>456722</li>
                <li>Setpreis: 99$ $</li>
                <li>Einzelteilpreis: 210$</li>
                <li>2000 Einzelteile</li>
            </ul>
            <button>Einzelteile kaufen</button>
            <button>Setpreis kaufen</button>
        </div>
        

<table id="student">
	<tr>
		<th>Setid</th>
		<th>Setname</th>
	</tr>
	<tr *ngFor="let suche of suchergebnis">
		<td>{{suche.set_id}}</td>
		<td>{{suche.set_name}}</td>
	</tr>
</table>

    
    </div>
</div>