<div class="mainImp">
    <div class="row">
        <div class="col">
    <ul>
        <li><a>Home</a></li>
        <li><a>Rechtliches</a></li>
        <li><a>Über Uns</a></li>
        
    </ul>
    </div>
    
    
        <div class="col">
    <ul>
        
        <li><a>Login</a></li>
        <li><a>Registrierung</a></li>
        <li><a>Technisches</a></li>
    </ul>
    </div>


    <div class="col">
<ul>
    
    <li><a>Hilfe</a></li>
    <li><a>FAQ</a></li>
    <li><a>Kontakt</a></li>
</ul>
</div>
<div class="col">
    <ul>
        <li><a><img [src]="gitHubLight" id="git"></a><p>GitHub</p></li>
        <li><a><img [src]="linkedInLight" id="linked"></a><p>LinkedIn</p></li>
        <li><a><img [src]="discordLight" id="disc"></a><p>Discord</p></li>
    </ul>
    </div>
</div>
</div>
