<div class="nav">
    <div class="leftNav">
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
    
        <ul class="menu__box">
          <li><a class="menu__item" href="#Home">Home</a></li>
          <li><a class="menu__item" href="#Login">Login</a></li>
          <li><a class="menu__item" href="#Registrierung">Registrierung</a></li>
          <li><a class="menu__item" href="#ueberuns">Über Uns</a></li>
          <li><a class="menu__item" href="#kontakt">Kontakt</a></li>
        </ul>
      </div>
    </div>
    </div>
<div class="centerNav">
    <img src="./assets/neuGCT.svg">
</div>
<div class="rightNav">
    <a><div class="switch">
         <input type="checkbox" class="switch__input" (click)="modetoggle()" id="Switch">
        <label class="switch__label" for="Switch">
            <span class="switch__indicator"></span>
            <span class="switch__decoration"></span>
        </label>
      </div></a>
</div>
<div class="farRightNav">
  <a href="#" class="button" >
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text">LOGIN</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
  </a> 
</div>
