<div class="mainImp">
    <div class="row">
        <div class="col">
    <ul>
        <li><a>Home</a></li>
        <li><a>Technisches</a></li>
        
    </ul>
    </div>
    
    
        <div class="col">
    <ul>
        
        <li><a>Login</a></li>
        <li><a>Registrierung</a></li>
    </ul>
    </div>
    <div class="col">
<ul>
    
    <li><a>Impressum</a></li>
    <li><a>Rechtliches</a></li>
</ul>
</div>
<div class="col">
    <ul>
        <li class="horizontal" ><a><img [src]="gitHubLight" id="git"></a><p>GitHub</p></li>
        <li class="horizontal" style="margin-left: 100px;"><a><img [src]="linkedInLight" id="linked"></a><p>LinkedIn</p></li>
        <li class="horizontal" style="margin-left: 100px;"> <a><img [src]="discordLight" id="disc"></a><p>Discord</p></li>
    </ul>
    </div>
</div>
</div>